#DB SETTING
DB_TYPE=mysql #mysql | mariadb | postgres
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=1234
DB_NAME=dynamiq

#REDIS SETTING
REDIS_URI=redis://localhost:6379
DEFAULT_TTL=5

#RABBITMQ SETTING
RABBITMQ_USERNAME=root
RABBITMQ_PASSWORD=1234

#APP SETTING
MAX_VM_TIMEOUT_MS=2000
NODE_NAME=my_dynamiq

#AUTH_SETTING
SECRET_KEY=my_secret
SALT_ROUNDS=10
ACCESS_TOKEN_EXP=15m
REFRESH_TOKEN_NO_REMEMBER_EXP=1d
REFRESH_TOKEN_REMEMBER_EXP=7d